main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin-top: 90px;
    background-color: white;
    padding: 10px 20px 25px 20px;
    border-radius: 10px;
}
.login h1{
    text-align: center;
}
.login form input{
    width: 250px;
    height: 30px;
    padding-left: 25px;
    margin-top: 8px;
}
.icons{
    position: absolute;
    padding-top: 17px;
    padding-left: 5px;
    color: rgb(116, 116, 116);
}
form #buttonLogin{
   width: 282px;
   height: 40px;
   font-size: 16px;
   background-color: rgb(128, 9, 0);
   border: none;
   color: white;
   border-radius: 5px;
}
#buttonLogin:hover{
    cursor: pointer;
    background-color: brown;
}
span{
    font-size: 13px;
}
.conta{
    padding-left: 95px;
}